

<div class="container"  style="margin-top:8%;" [@moveIn]="state">
  
    <input class="form-control" type="text" placeholder="Search Appointment" [(ngModel)]="appSearch" >

    <br>

    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Medical Issue</th>
            <th scope="col">Issue Type</th>
            <th scope="col">Treated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of appointments | appPipe: appSearch | paginate: { itemsPerPage: 10, currentPage: p }; let i=index ">
            <td>{{ i+1 }}</td>
            <td>{{ app['name'] }}</td>
            <td>{{ app['medical_issue'] }}</td>
            <td> {{ app['issue_type'] }} </td>
            <div *ngIf="app.treated; else no">
                <td>Yes</td>
            </div>
            <ng-template #no> <td>No</td> </ng-template>
            <td><button type="button" class="btn  default-color" data-toggle="modal" data-target="#infoModal" (click)="getAppDetails(app['id'])" >Info</button></td>
          </tr>
        </tbody>
       
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <h3>Add this extension in chrome and enable it to run the application 
        <br>
        <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi">Extension link</a>
      </h3>
</div>
<div class="container" >
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <p class="modal-title text-center h3" id="exampleModalLabel">{{ appDetail['name'] }}</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div >
                      <b>Issue Type :</b> {{ appDetail['issue_type'] }}
                      <span class="float-right"><b>Medical Issue :</b> {{ appDetail['medical_issue'] }}</span> 
                      <br><br>
                      <b>Date :</b> {{ appDetail['date'] }}
                      <span class="float-right"><b>Time :</b>{{ appDetail['time'] }}</span> 
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn danger-color-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary float-right" (click)="markTreated(appDetail['id'])" >Mark as treated</button>
              </div>
            </div>
          </div>
        </div>
</div>


